@model AllAuctionsQueryModel
@{
	ViewBag.Title = "All Auctions";
}

<h2 class="text-center row">@ViewBag.Title</h2>

<partial name="_SearchBarPartial"/>

@if (Model.ViewType == "table")
{
	<partial name="_AuctionTablePartial" model="@Model.Auctions"/>
}
else
{
	<hr />
	<partial name="_AuctionCardPartial" model="@Model.Auctions" />
}

<div id="auctionContainer">
</div>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
	</div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
	<div class="row">
		<h2 class="col-md-4 text-center" id="auctions_count"></h2>
		<h2 class="col-md-4 text-center" id="sales_count"></h2>
		<h2 class="col-md-4 text-center" id="bids_count"></h2>
	</div>
</div>

@section Scripts{
	<script>
		function updateTimers() {
			var auctions = @Html.Raw(Json.Serialize(Model.Auctions));
			auctions.forEach(function (auction) {
				var endDateTime = new Date(auction.endDate);
				var now = new Date();
				
				if (endDateTime <= now) {
					
					$("#timer-" + auction.id).text("Auction is closed");
				} else {
					var remainingTime = endDateTime - now;
					var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
					remainingTime -= days * (1000 * 60 * 60 * 24);
					var hours = Math.floor(remainingTime / (1000 * 60 * 60));
					remainingTime -= hours * (1000 * 60 * 60);
					var minutes = Math.floor(remainingTime / (1000 * 60));
					remainingTime -= minutes * (1000 * 60);
					var seconds = Math.floor(remainingTime / 1000);

					var formattedTime = ("0" + days).slice(-2) + ":" +
						("0" + hours).slice(-2) + ":" +
						("0" + minutes).slice(-2) + ":" +
						("0" + seconds).slice(-2);

					$("#timer-" + auction.id).text(formattedTime);
				}
			});
		}
		setInterval(updateTimers, 1000);
	</script>

	<script>statistics();</script>
}
