@{
	ViewBag.Title = "Edit Pending Auction";
}

<h2 class="text-center">@ViewBag.Title</h2>

<partial name="_AuctionFormPartial" model="@Model" />

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
