@model PendingAuctionModel

<h4 class="d-inline">@Model.ModelYear @Model.Make @Model.Model</h4>
<a asp-controller="Admin" asp-action="PendingAuctionDetails" asp-route-id="@Model.Id" class="d-inline btn btn-success">Details</a>
