@model AllAuctionsQueryModel

<form method="get">
<div class="row">
	<div class="form-group col-md-3">
		<div class="form-group">
			<label asp-for="StartYear"></label>
			<input asp-for="StartYear" class="form-control" placeholder="..."></input>
		</div>
		<div class="form-group">
			<label asp-for="EndYear"></label>
			<input asp-for="EndYear" class="form-control" placeholder="..."></input>
		</div>
		<div class="form-group">
			<label asp-for="ViewType">Select View:</label>
			<select asp-for="ViewType" id="viewSelect" class="form-control">
				<option value="card">Card View</option>
				<option value="table">Table View</option>
			</select>
		</div>
	</div>
	<div class="form-group col-md-3 d-flex justify-content-between">
		<div class="form-group">
			<label asp-for="TransmissionType"></label>
			<select asp-for="TransmissionType" class="form-control">
				<option value="">All</option>
				@foreach (var transmissionType in Model.TransmissionTypes)
				{
					<option value="@transmissionType">@transmissionType</option>
				}
			</select>
		</div>
		<div class="form-group col-md-5">
			<label asp-for="CarBodyType"></label>
			<select asp-for="CarBodyType" class="form-control">
				<option value="">All</option>
				@foreach (var carBodyType in Model.CarBodyTypes)
				{
					<option value="@carBodyType">@carBodyType</option>
				}
			</select>
		</div>
	</div>
	<div class="form-group col-md-3">
		<label asp-for="SearchTerm"></label>
		<input asp-for="SearchTerm" class="form-control" placeholder="...">
	</div>
	<div class="form-group col-md-3">
		<div class="form-group">
			<label asp-for="Sorting"></label>
			<select asp-for="Sorting" class="form-control">
				<option value="0">Newest</option>
				<option value="1">Oldest</option>
				<option value="2">Lowest mileage</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group mt-4 p-2">
			<input type="submit" value="Search" class="btn btn-primary"/>
		</div>
	</div>
</div>
</form>