@model IEnumerable<AuctionViewModel>

@{
	ViewBag.Title = "Your pending auctions";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (!Model.Any())
{
	<p>You have no pending auctions.</p>
}
else
{
	<partial name="_PendingAuctionTablePartial"/>
}