@model IEnumerable<AuctionViewModel>
@{
	ViewBag.Title = "Pending auctions";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (!Model.Any())
{
	<p>No pending auctions.</p>
}
else
{
	<partial name="_PendingAuctionTablePartial"/>
}

